html, 
body {
    height: 100%;
    padding: 1.5rem;
    margin: 0;
}


.stock-icon {
    height: 3rem;
    width: 3rem;
    image-rendering: pixelated;
}

#character-container {
    margin-top: 1rem;
    margin-left: 2.3rem;
}